{% include 'game/simple_header.html' %}
{% include 'game/topnav.html' %}


<center>
<table width="300">

<tr>
<td class="c" width="100px">Temat:</td><td class="f">{{ temat.temat|e }}</td>
</tr>

<tr>
<td class="c">Rozmówca:</td><td class="f">{% if temat.nadawca != user %}{{ temat.nadawca.username|e }}{% else %}{{ temat.odbiorca.username|e }}{% endif %}</td>
</tr>

<tr>
<td class="c" colspan=2 align="center"><a href="{{ url('game.wiadomosci.raport', kwargs={'id':temat.pk}) }}">Zgłoś naruszenie regulaminu</a></td>
</tr>


</table>

<form action="" method="post">
<table width="400px">
{% for w in wiadomosci %}
<tr>
<td class="c">{{ w.kto.username|e }}</td>
<td class="c" align=right>{{ w.data|e }}</td>
</tr>
<tr><td colspan=2 class="f">{{ w.tekst|e|bbcodes|linebreaks }}</td></tr>
{% endfor %}
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td colspan=2><textarea name="text" rows=10></textarea></td></tr>
<tr><td class="c" colspan=2 align=center><input type=submit value="Odpowiedz"></td></tr>
</table>
</form>

<!--(*) Movimiento de flotas o actividad en el planeta &nbsp;&nbsp;&nbsp;&nbsp;(g) Usuario suspendido<br>(i) Jugador 2 semanas inactivo&nbsp;&nbsp;&nbsp;    (I) Jugador 4 semanas inactivo<br>

<font color="#ffa0a0">Jugador fuerte </font> &nbsp;&nbsp;&nbsp; <font color="#a0ffa0">Jugador débil</font><font color="#ffffff">&nbsp;&nbsp;&nbsp; <font color="#0000ff">Modo de vacaciones</font>-->

</center>
<script language="JavaScript" src="/media/js/wz_tooltip.js"></script>
{% include 'game/simple_footer.html' %}
