<table class="raport" width="100%">
<tr><td colspan=2 width="50%">&nbsp;</td><td colspan=2 width="50%">&nbsp;</td></tr>
<tr>
	<td width="25%" class="z_b">Agresor:</td><td width="25%" class="z">{{agresor.user.username}}</td>
	<td width="25%" class="z_b">Obrońca:</td><td width="25%" class="z">{{obronca.user.username}}</td></tr>
{%if bez_technologii%}
<tr>
	<td colspan=4 class="z_b">Technologie: niestety Twoja technologia szpiegowska jest na niewystarczającym poziomie żeby włamać sie do systemu przeciwnika</td>
</tr>
{%else%}

<tr><td colspan=4 class="z_b">Technologia bojowa:</td></tr>
<tr><td>&nbsp;</td><td class="z">{{agresor_dane.military_tech}}</td><td>&nbsp;</td><td class="z">{{obronca_dane.military_tech}}</td></tr>

<tr><td colspan=4 class="z_b">Technologia ochronna:</td></tr>
<tr><td>&nbsp;</td><td class="z">{{agresor_dane.defence_tech}}</td><td>&nbsp;</td><td class="z">{{obronca_dane.defence_tech}}</td></tr>

<tr><td colspan=4 class="z_b">Opancerzenie:</td></tr>
<tr><td>&nbsp;</td><td class="z">{{agresor_dane.shield_tech}}</td><td>&nbsp;</td><td class="z">{{obronca_dane.shield_tech}}</td></tr>
{%endif%}

<tr><td colspan=4 class="z_b">Poczatek:</td></tr>


<tr><td>&nbsp;</td><td class="z">
<table class="statki" border="0">
{%for a in dane.poczatek.agresor_statki.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}
</table>
</td>

<td>&nbsp;</td>
<td class="z">
<table class="statki" border="0">
{%for a in dane.poczatek.obronca_statki.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}

{%for a in dane.poczatek.obronca_obrona.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}
</table>
</td></tr>



{%for r in dane.rundy%}

<tr><td colspan=4 class="z_b">Po rundzie: {{forloop.counter}}</td></tr>


<tr><td>&nbsp;</td><td class="z">
<table class="statki" border="0">
{%for a in r.agresor_statki.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}
</table>
</td>

<td>&nbsp;</td>
<td class="z">
<table class="statki" border="0">
{%for a in r.obronca_statki.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}

{%for a in r.obronca_obrona.values%}
<tr><td>{{a.statek.nazwa}}</td><td>{{a.ilosc}}</td></tr>
{%endfor%}
</table>
</td></tr>

{%endfor%}

<tr><td colspan=4 class="z_b">Surowce zdobyte:</td></tr>
<tr><td>&nbsp;</td><td colspan=2 class="z">Metal:</td><td class="z">{{surowce_zdobyte.met}}</td></tr>
<tr><td>&nbsp;</td><td colspan=2 class="z">Kryształ:</td><td class="z">{{surowce_zdobyte.cry}}</td></tr>
<tr><td>&nbsp;</td><td colspan=2 class="z">Deuter:</td><td class="z">{{surowce_zdobyte.deu}}</td></tr>

<tr><td colspan=4 class="z_b">Złom na planecie:</td></tr>
<tr><td>&nbsp;</td><td colspan=2 class="z">Metal:</td><td class="z">{{galaktyka.metal}}</td></tr>
<tr><td>&nbsp;</td><td colspan=2 class="z">Kryształ:</td><td class="z">{{galaktyka.crystal}}</td></tr>


<tr><td colspan=4 class="z_b">Z czego straty po obu stronach(bez obrony):</td></tr>
<tr>
	<td class="z">Metal</td>
	<td class="z">{{zlom.metal_agresor}}</td>
	<td class="z">&nbsp;</td>
	<td class="z">{{zlom.metal_obronca}}</td>
</tr>
<tr>
	<td class="z">Kryształ</td>
	<td class="z">{{zlom.crystal_agresor}}</td>
	<td class="z">&nbsp;</td>
	<td class="z">{{zlom.crystal_obronca}}</td>
</tr>

<tr>
	<td class="z">Procent</td>
	<td class="z">{{zlom.procent_agresor}}%</td>
	<td class="z">&nbsp;</td>
	<td class="z">{{zlom.procent_obronca}}%</td>
</tr>
</table>

<tr><td colspan=4 class="z_b">Procent (bez obrony):</td></tr>
<tr>
	<td class="z" colspan="4">{{zlom.procent}}</td>
</tr>
