# Django settings for ugame project.
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

from settings import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG
URL = 'http://localhost:8002'
ALLOWED_HOSTS = ['localhost:8002']

EMAIL_HOST = 'example.com'
EMAIL_HOST_USER = 'noreply@example.com'
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = '25'
DEFAULT_FROM_EMAIL = 'noreply@example.com'
SERVER_EMAIL = 'noreply@example.com'

DATABASES = {
             'default': {
                         'ENGINE': 'django.db.backends.postgresql_psycopg2',
                         'NAME': 'ugame',
                         'USER': 'postgres',
                         'PASSWORD': 'postgres',
                         'HOST': 'localhost'
                         },
             }
