{% extends this.application+'/base.html' %}
{% block content %}
{% include this.application+'/game/topnav.html' %}

{% if msg %}
<table width=530>
{% for m in msg %}
<tr><td align="center" class="f" style="width:400px;height:30px;color:red;font-size: 10pt;font-weight: bold;">{{ m|e }}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if kolejka %}
<table width=530>
        <tr><td class="c">Budujesz:</td><td class="c">Trwanie:</td><td class="c">Anuluj *</td></tr>
	{% for k in kolejka %}
		<tr><td class="l">{{ k.budynek.nazwa|e }} - {{ k.ilosc|e }} szt.</td><td class="l">
		{% if loop.first %}
		<div id=bxx>
		<script language="JavaScript">
		pp = {{ k.seconds|e }};
		site="{{ url(this.urls.main) }}";
		przeskok = 0;
		t();
		</script>
		</div>
		{% else %}
		{{ k.time|e }}
		{% endif %}
		</td>
		<td class="l">{% if k.anulowanie %}<a href="?anuluj={{ k.pk|e }}">anuluj</a>{% else %}-{% endif %}</td>
		</tr>
	{% endfor %}
	<tr><td colspan=3>* (zostanie zwrócone 50% surowców)</td></tr>
</table>
{% endif %}

<form action="" method=post>
<table width=530>
{% if floty %}
	{% for b in floty %}
	<tr>
	  <td class="l">
	    <a href="{{ url(this.all_urls.info.obrona, object_id=b.id) }}">
	      <img border="0" src="/media/obrona/{{ b.id|e }}.gif" align="top" width="120" height="120">
	    </a>
	  </td>
	  
	  <td class="l">
		<a href="{{ url(this.all_urls.info.obrona, object_id=b.id) }}">{{ b.nazwa|e }}</a> (dostępne: {{ b.ilosc|e }}, możliwe: {{ b.ile_mozna|e }}) {% if b.limit != 0 %}Limit {{ b.limit|e }}{% endif %}<br>
		{{ b.opis|e }}<br>Wymagania:
		{% if b.c_met != 0 %}
		Metal: <b style="color:{{ b.c_met_color|e }};"> <span class="noresources">{{ b.c_met|e }}</span></b>
		{% endif %}

		{% if b.c_cry != 0 %}
		Kryształ: <b style="color:{{ b.c_cry_color|e }};"> <span class="noresources">{{ b.c_cry|e }}</span></b>
		{% endif %}

		{% if b.c_deu != 0 %}
		Deuter: <b style="color:{{ b.c_deu_color|e }};"> <span class="noresources">{{ b.c_deu|e }}</span></b>
		{% endif %}

		{% if b.energy > 0 %}
		Energia: <b style="color:{{b.c_ene_color}};"> <span class="noresources">{{b.energy}}</span></b>
		{% endif %}

		{% if b.c_czas != 0 %}
		<br>Czas ukończenia: {{ b.c_czas|e }}
		{% endif %}

		<br><font color="#7f7f7f">Zostanie:
		Metal: <b style="color: rgb(95, 127, 108);">{{ b.z_met|ceilh|e }}</b>
		Kryształ: <b style="color: rgb(95, 127, 108);">{{ b.z_cry|ceilh|e }}</b>
		Deuter: <b style="color: rgb(95, 127, 108);">{{ b.z_deu|ceilh|e }}</b>
		{% if b.koniec_powierzchni %}
		<font color=#FF0000><b>Niestety żeby wybudować ten budynek potrzebujesz {{ b.c_powierzchnia|e }} km</b></font>
		{% endif %}
	  </td>
	  <td class="k" width="80">
	  {% if b.mozna %}
	  <font color=#00FF00><input type=text name="id_{{ b.id|e }}" id="id_{{ b.id|e }}" alt='{{ b.nazwa|e }}' size=6 maxlength=6 value=0></font><br>
	  <a href="javascript:void(0)" onclick="javascript:set_ilosc('id_{{ b.id|e }}',{{ b.ile_mozna|e }})">max</a>
	  {% else %}
		  {% if b.limit_gt %}
		  	<font color=#FF0000>Przekroczony limit obiektów na planecie</font>
		  {% else %}
			  <font color=#FF0000>Nie możesz rozbudować</font>
		  {% endif %}
	  {% endif %}
	  </td>
	</tr>
	 {% endfor %}
	<tr><td class="c" colspan=3 align="center"><input type="submit" value="Ok"></td></tr>
{% else %}
<tr>
	<td class="l">Niestety warunki budynkowe nie są spełnione</td>
</tr>
{% endif %}

</table>
</form>

{% endblock %}
