<html>
<head>
<meta name="verify-v1" content="V1IBcPhrc76Iv2xKcXeQyaCBkRhy01CcDal+NiwROlc=" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="SHORTCUT ICON" href="favicon.ico">
<title>Alfa Ugame</title>
</head>
<frameset framespacing="0" border="0" cols="190,*" frameborder="0">
	<frame name="LeftMenu" target="Left" src="/game/leftmenu/"
		noresize scrolling="no" marginwidth="0" marginheight="0">
	<frame name="mainframe" src="/game/overview/">
	<noframes>
	<p>{{ config.noframes }}</p>
	</noframes>
</frameset>
</body>
</html>
