{% include 'game/simple_header.html' %}
{% include 'game/topnav.html' %}


<center>

<form action="/game/fs/spy/2/" method=post>
<table width="519" border="0" cellpadding="0" cellspacing="1">
<tr height="20"><td colspan="2" class="c">Wyślij flotę</td></tr>
<tr height="20"><th width="50%">Cel</th><th>{{ planeta_dane.galaktyka_id|e }}:{{ planeta_dane.system_id|e }}:{{ planeta_dane.planeta_id|e }}</th></tr>
<tr height="20">
<th>Odległość</th>
<th><div id="distance">{{ dane_floty.odleglosc|e }}</div></th>
</tr>
<tr height="20">
<th>Czas trwania (odcinek)</th>
<th><div id="duration">{{ dane_floty.czas_lotu|pretty_time|e }}</div></th>
</tr>

<tr height="20">
<th>Pojemność baku:</th>
<th><div id="bak">{{ dane_floty.bak_pojemnosc|e }}</div></th>
</tr>

<tr height="20">
<th>Zużycie Deuteru</th>
<th><div id="consumption">{{ dane_floty.zuzycie_deuter|e }}</div></th>
</tr>

<tr height="20">
<th>Max. prędkość</th>
<th><div id="maxspeed">{{ dane_floty.speed|e }}</div></th>
</tr>
<tr height="20">
<th>Ładowność</th>
<th><div id="storage">{{ dane_floty.ladownosc|e }}</div></th>
</tr>


<tr height="20" >
<th><input type="button" value="Wróć" onclick="javascript:history.back()" /></th><th><input type="submit" value="Dalej" /></th>
</table>
</form>

<table width="519" border="0" cellpadding="0" cellspacing="1">
<tr height="20"><td class="c">Statek</td><td class="c">Prędkość</td><td class="c">Ilość</td></tr>
{% for s in statki_podsumowanie %}
<tr height="20"><th>{{ s.statek.nazwa|e }}</th><th>{{ s.speed|e }}</th><th>{{ s.ilosc|e }}</th></tr>
{% endfor %}
</table>

</center>
{% include 'game/simple_footer.html' %}
