
<html>
<head>
<!-- TradeDoubler site verification 1620297 --> 
<title>Alfa Ugame</title>
<link rel="SHORTCUT ICON" href="favicon.ico">
<link rel='stylesheet' type='text/css' href='/media/css/default.css' />
<link rel="stylesheet" type="text/css" href="/media/css/formate.css" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />


<script type="text/javascript" language="javascript" src="/media/js/lytebox.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.ui.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.form.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.bgiframe.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.dimensions.js"></script>
<script type="text/javascript" language="javascript" src="/media/js/jquery.delegate.js"></script>

<link rel="stylesheet" href="/media/css/lytebox.css" type="text/css" media="screen" />

<script src="/media/js/main.js" type="text/javascript"></script>
<script src="/media/js/chat.js" type="text/javascript"></script>
<link rel="stylesheet" href="/media/css/hovertip.css" type="text/css" media="screen" />
<script type="text/javascript" language="javascript" src="/media/js/hovertip.js"></script>

{{ floten|e }}
{{ META_TAG|e }}

<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34285840-1']);
      _gaq.push(['_setDomainName', 'ugame.net.pl']);
        _gaq.push(['_trackPageview']);

	  (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			       })();

			       </script>

</head>
<body {{ jsbody|safe|e }}>
<script type='text/javascript'>
    // initialize tooltips in a seperate thread
    $(document).ready(function() {
      window.setTimeout(hovertipInit, 0.01);
    });
</script>

{% if messages %}
<center>
<table align="center">
{% for m in messages %}<tr><td align="center" class="zielona" style="min-width:400px;height:10px">{{ m|e }}</td></tr>{% endfor %}
</table>
</center>
{% endif %}

