{% include 'game/simple_header.html' %}
{% include 'game/topnav.html' %}


<center>
<table align=center width=100%><tr align=center><td>

  {% if sojusz %}

  {%include 'game/sojusz/sojusz_menu.html'%}
  <script language="JavaScript1.2">
  	$(document).ready(function(){
    
    	$("#chat_form").submit(function() {
      		chat_sojusz_send();
        	return false;
    	});

  	});
  </script>
  <table width="100%">
  	<tr align="center">
	
		<td valign="top">
			<div id="chat_sojusz">
				<div class="row">
				</div>
			</div>
		</td>
	</tr>
	<tr align="center">
		<td valign="top">
			<form action="/game/sojusz/chat/send/" id="chat_form" name="chat_form">
				<input type="text" name="chat_message" id="id_chat_message" style="width:500px">
			</form>
		</td>

  	</tr>
  </table>

  {% endif %}

</td></tr></table>
<script language="JavaScript1.2">
	init_sojusz_chat();
</script>
{% include 'game/simple_footer.html' %}
