{% include 'game/simple_header.html' %}
{% include 'game/topnav.html' %}


<center>

<table align=center width=100%><tr align=center><td>

  {%include 'game/sojusz/sojusz_menu.html'%}
  
  {% if msg %}
  <table align="center"><tr><td style="color:red"><strong>{{ msg|e }}</strong></td></tr>
  {% endif %}
  
  {% if GraObject.soj_czy_moze_zapraszac() %}
  <form action="" method=post>
  <table align="center" bgcolor="#31496B"><tr><td>Nick:</td><td><input type=text name=nick></td></tr>
  <tr><td colspan=2 align=center><input type=submit value="Wyślij"></td></tr>
  </table>
  </form>
  {% endif %}

  {% if zaproszenia %}
  <table border="0" cellpadding="0" cellspacing="1" width="300">
  {% for c in zaproszenia %}
  <tr>
  <th width="20">{{ loop.index|e }}</th>
  <th align="center">{{ c.user.username|e }}</th>
  <th align="center" width="50">{% if GraObject.soj_czy_moze_zapraszac() %}<a href="?del={{ c.pk|e }}"><font color=#00FF00>wycofaj</font></a>{% endif %}</th></tr>
  {% endfor %}
  </table>
  {% endif %}

</td></tr></table>

{% include 'game/simple_footer.html' %}
