{% extends this.application+'/base.html' %}
{% block content %}
{% include this.application+'/game/topnav.html' %}

<table align=center width=100%><tr bgcolor="#64759E" align=center><td>

  <table align="center"><tr>
  <td class="l"><a href="/game/sojusz/zaloz/">załóż</a></td>
  </tr></table>

  {% if zaproszenia %}
  <table border="0" cellpadding="0" cellspacing="1">
  <tr><td align="center" class="c" colspan=3><strong>Zaproszenia z innych sojuszy:</strong></td></tr>
  <tr><td colspan=3>&nbsp;</td></tr>
  {% for z in zaproszenia %}
  <tr><td align="center" class="l">{{ z.sojusz.nazwa|e }}</td>
  <td align="center" class="l" width="50">{% if not sojusz %}<a href="/game/sojusz/dolacz/{{ z.sojusz.pk|e }}/">dołącz</a>{% else %}&nbsp;{% endif %}</td>
  <td align="center" class="l" width="50"><a href="/game/sojusz/odrzuc/{{ z.pk|e }}/" style="color:red">odrzuć</a></td>
  </tr>
  <tr><td colspan=3 align="center" style="color:white;background-color:black">{{ z.text|e }}</td></tr>
  <tr><td colspan=3>&nbsp;</td></tr>
  {% endfor %}
  <tr><td class="c" align="center" colspan=3>dołączyć możesz jeśli nie jesteś już w jakimś sojuszu</td></tr>
  </table>
  {% endif %}

</td></tr></table>

{% endblock %}
