{% extends this.application+'/base.html' %}
{% block content %}
{% include this.application+'/game/topnav.html' %}

<table align=center width=100%><tr align=center><td>

  {% if sojusz %}

  {% include this.application+'/'+this.module+'/menu.html' %}
  
  <table width="100%"><tr>
	
	<td valign="top">
	<table width="100%" cellspacing="1" cellpadding="2">
	<tr><td class="c" width="120">Data</td><td class="c">Wydarzenie</td></tr>
	{% for w in wydarzenia %}
	<tr bgcolor="#31496B">
		<td>{{ w.data|date('Y-d-m H:i:s')|e }}</td>
		<td style="padding-left:5px">{{ w.tekst|safe|e }}</td>
	</tr>
	{% endfor %}
	</table>
	</td>

	<td width="300" valign="top">
	<table width="100%" bgcolor="#31496B">
	        <tr><td><a href="{{ url(this.urls.opusc) }}" class="guzik" style="width:80px">opuść sojusz</td>
		<td align="center">jesli jesteś ostatnim właścicielem to sojusz zostanie rozwiązany</td></tr>
	</table>
	<table width="100%">
	<tr><td class="c">Tekst wewnętrzny</td></tr>
	<tr><td bgcolor="#31496B" align="center" style="padding:5px">{{ sojusz.text_wewn|e|bbcodes|linebreaks }}</td></tr>
	</table>
	</td>

  </tr></table>

  {% endif %}

</td></tr></table>

{% endblock %}