{% extends this.application+'/base_logout.html' %}
{% block content %}
  <h1><font size="24">Regulamin</font></h1>
  <h2>Alfa Ugame</h2>
  
  <div>

  <p><strong>§1. Warunki Uczestnictwa</strong><br>
  Aby korzystać z ugame.net.pl zwanej dalej 'Grą', każdy użytkownik musi 
  zaakceptować poniższe warunki.</p>
  <p><strong>§2. Oświadczenie</strong><br>
  Ugame.net.pl to gra bezpłatna. Administrator projektu nie ponosi 
  odpowiedzialności za błędy w niej występujące, a także za jej 
  niedostępność spowodowaną awarią serwera, usterkami programowymi, 
  wszelkimi przypadkami wewnetrznych błędów oraz czynników niezależnych od 
  autora projektu. Gracz nie ma prawa do żadnych roszczeń, a także do 
  ponownego ustawienia uzyskanych wcześniej wyników w grze. Autor 
  zastrzega sobie prawo do swobodnej interpretacji reguł Gry przez jej 
  użytkowników.</p>
  <p><strong>§3. Członkostwo</strong><br>
  Członkostwo rozpoczyna się po rejestracji konta w Grze. Użytkownik musi 
  podać obowiązujący i ważny adres e-mail. Użytkownik może zakończyć swoje 
  członkostwo poprzez skasowanie konta. Usunięcie wszelkich danych może 
  być opóźnione z przyczyn technicznych. Dostawca usługi rezerwuje sobie 
  prawo do kasacji i blokowania kont, głównie (chociaż nie wyłącznie) w 
  przypadku pogwałcenia warunków uczestnictwa. Administror projektu 
  decyduje o kasacji konta. Wszelkie zarzuty mogą być kierowane jedynie do 
  niego. Nie istnieją żadne prawne żądania/roszczenia dotyczące usunięcia 
  konta.</p>
  <p><strong>§4. Treść/Odpowiedzialność</strong><br>
  Za treść komunikatów/wiadomości użytkownicy są odpowiedzialni osobiście. 
  Wszelkie treści pornograficzne, ksenofobiczne, obraźliwe, niezgodne z 
  prawem oraz ogólnie przyjęte za nieetyczne i niemoralne są zabronione, a 
  administrator nie ponosi za nie żadnej odpowiedzialności. Mogą one 
  doprowadzić do zablokowania lub skasowania konta użytkownika, który je 
  publikuje.</p>
  <p><strong>§5. Niedozwolone zachowania</strong><br>
  a) Żaden użytkownik nie ma prawa do używania jakichkolwiek środków, 
  mechanizmów, czy programów powiązanych ze stronami internetowymi, które 
  mogą powodować problemy i zakłócenia w funkcjonowaniu stron i zmieniać 
  przebieg gry. Użytkownicy nie są uprawnieni do podejmowania 
  jakichkolwiek działań mogących spowodować nadmierne obciążenie zdolności 
  technicznych serwera. Użytkownicy nie mogą również blokować, zmieniać, 
  czy modyfikować treści przekazanych przez administratora projektu.<br>
  b) Zabroniony jest dostęp do strony gry przy użyciu jakichkolwiek innych 
  programów poza przeglądarkami internetowymi. Dotyczy to w szczególności 
  tzw. botów, a także innych narzędzi, które symulują, zastępują lub 
  uzupełniają interfejs strony. Ponadto zabrania się używania skryptów 
  oraz całkowicie lub częściowo zautomatyzowanych programów, które dają 
  użytkownikowi przewagę nad innymi graczami. Do tego zalicza się także 
  kompletnie lub częściowo zautomatyzowane programy, które umożliwiają 
  samoaktualizację (auto-refresh), oraz inne dodatkowe mechanizmy, które 
  nie są zintegrowane fabrycznie z przeglądarkami internetowymi. 
  Korzystanie z jakichkolwiek programów wyłączających reklamy jest 
  zabronione. Nie ma znaczenia, czy reklama blokowana jest celowo, czy 
  generalnie przez program blokujący pojawianie się okienek pop-up, 
  przeglądarkę tekstową, czy inne podobne funkcje.
  <p><strong>§6. Zastrzeżenia</strong><br>
  Na koncie może grać wyłącznie jedna osoba, a złamanie tej reguły może 
  doprowadzić do zablokowania/skasowania konta. Dzielenie się kontem, 
  czyli używanie jednego konta przez wielu graczy, jest niedozwolone.</p>
  <p>§7. Uprawnienia administratora dotyczące kont graczy<br>
  Wszystkie konta, łącznie z surowcami, statkami itd. są własnością 
  ugame.net.pl. Zabrania się sprzedawania konta, surowców w celu 
  pozyskiwania pieniędzy. Dozwolone jest bezpłatne, ostateczne przekazanie 
  konta, a także handlowanie surowcami wewnątrz serwera gry wg reguł 
  panujących w grze.</p>
  <p><strong>§8. Odpowiedzialność</strong><br>
  Administrator nie ponosi żadnej odpowiedzialności za szkody, które 
  powstały w wyniku użytkowania Gry.</p>
  <p><strong>§9. Klauzula zmian</strong><br>
  Administrator zastrzega sobie prawo do zmiany lub rozszerzenia tych 
  warunków użytkowania w dowolnym czasie. Taka zmiana lub uzupełnienie 
  zostanie przedstawione na Forum lub stronie głównej przynajmniej na 
  tydzień przed wejściem nowego regulaminu w życie.</p>

  </div>
{% endblock %}